@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="CustomTheme" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        Kedge Card Games
        <MudSpacer />
        <MudToggleIconButton @bind-Toggled="@_isDarkMode"
                             Icon="@Icons.Material.Filled.DarkMode" Color="@Color.Default"
                             ToggledIcon="@Icons.Material.Filled.WbSunny" ToggledColor="@Color.Default" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="d-flex flex-column" Style="min-height: 100vh;">
        <MudStack Spacing="3" Class="flex-grow-1">
            @Body
        </MudStack>
        @* <Footer /> *@
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool _drawerOpen = true;
    private bool _isDarkMode = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    MudTheme CustomTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = Colors.Indigo.Darken1,
                Secondary = Colors.Red.Darken2,
                DrawerBackground = Colors.Indigo.Lighten1,
                AppbarBackground = Colors.Indigo.Darken3,
                DrawerText = Colors.Indigo.Lighten5,
                DrawerIcon = Colors.Indigo.Lighten5
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Indigo.Lighten2,
                Secondary = Colors.Red.Accent2,
                DrawerBackground = Colors.Indigo.Darken3,
                AppbarBackground = Colors.Indigo.Darken4,
                AppbarText = Colors.Gray.Lighten5,
                DrawerText = Colors.Gray.Lighten5,
                DrawerIcon = Colors.Gray.Lighten5,
                Surface = Colors.Gray.Darken4
            }
        };
}